@import './vars.scss';

$drawer-width: 300px;

.drawer {
    padding-top: 40px;
    text-align: center;
    background-color: $dark-blue;
    width: 300px;
    min-width: 300px;
    height: 100%;
    position: fixed;
    display: block;
    color: white;
    transition: all 0.2s ease-out;
    left: 0px;
    top: 0;
    z-index: 10;
}
.nav-toggle {
    cursor: pointer;
    display: block;
    height: 40px;
    width: 20px;
    margin-right: 15px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
}
.nav-toggle span {
    background-color: white;
    display: block;
    height: 2px;
    left:0;
    position: absolute;
    width: 20px;
    transition: all 0.3s;
}

.nav-toggle span:nth-child(1) {
    top: calc(30% - 1px);
}
.nav-toggle span:nth-child(2) {
    top: calc(50% - 1px);
}
.nav-toggle span:nth-child(3) {
    top: calc(70% - 1px);
}

.drawer-closed {
    left: -250px;
}

.bottom-checked{
    transform: rotate(45deg);
    top: calc(50% - 1px) !important;
}

.top-checked{
    transform: rotate(-45deg);
    top: calc(50% - 1px) !important;
}

.middle-checked{
    opacity: 0;
}
